import os
import time
from enum import Enum
import sys


#Directorio donde se encuentra el archivo VagranFile
PATH_VAGRANT = "{{ path_vagrant }}"
VAGRANT_RUNNING = '{{ vagrant_run }}'
VAGRANT_NOT_CREATED = '{{ vagrant_not_created }}'
NAME_SERVER1 = '{{ server_name_n1 }}'
STR_VAGRANT_V = '{{ str_vagrant_v }}'
STR_NEW=  sys.argv[1]

# Clase para determinar los status de vagrant
class Vagrant(Enum):
	UP = '/usr/bin/vagrant up'
	DESTROY = '/usr/bin/vagrant destroy -f'
	STATUS = '/usr/bin/vagrant status'
# Valida si vagrant esta corriendo o no
def vagrantStatus():
	os.chdir(PATH_VAGRANT)
	result = os.popen(Vagrant.STATUS.value).read()

	init_str = result.find(NAME_SERVER1)
	end_srt = result.rfind(STR_VAGRANT_V)

	lines_str = result[init_str:end_srt]
	lines_out = lines_str.split(STR_VAGRANT_V)

	status_vagrant_run = True

	for line in lines_out:
		if VAGRANT_RUNNING in line:
			continue
		else:
			status_vagrant_run = False
			break		
	
	if status_vagrant_run:
		return VAGRANT_RUNNING
	else:
		return VAGRANT_NOT_CREATED

# Inicializa vagrant
def vagrantStart():
	os.chdir(PATH_VAGRANT)
	os.system(Vagrant.UP.value)

	print(vagrantStatus())

# Destruye virtuales de vagrant
def vagrantDestroy():
	os.chdir(PATH_VAGRANT)
	os.system(Vagrant.DESTROY.value)

	print(vagrantStatus())


str_current = vagrantStatus()
print('Estado actual de vagrant ', str_current, ' cambiando a ' , STR_NEW)
if STR_NEW == 'run':
	if(str_current == 'VAGRANT_RUNNING'):
		vagrantDestroy()
	print('run up')
	vagrantStart()
elif STR_NEW == 'destroy':
	print('run vagrant destroy -f')
	vagrantDestroy()
