{% if namespace is defined and namespace|length > 0 %}

{% for gkey,gvalue in namespace.items() %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ gvalue.name }}
  labels:
    istio-injection: {{ gvalue.status }}

{% endfor %}

{% endif %}
